<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About the Site</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

</head>
<body>
<div class="container-xl">
    <center>
        <div class="jumbotron">
            <h1>Infectious Disease Visualization System (Malaria)</h1>
            <hr>
            <a href="http://127.0.0.1:8000/malaria/malaria_home.html" class="btn btn-info" role="button">Home</a>
            <a href="http://127.0.0.1:8000/malaria/malaria_about.html" class="btn btn-info" role="button">About</a>
            <a href="http://127.0.0.1:8000/malaria/malaria_map.html" class="btn btn-info" role="button">Malaria
                Statistics Mapping</a>
            <a href="http://127.0.0.1:8000/malaria/malaria_environmental_factor.html" class="btn btn-info"
               role="button">Environmental Factor</a>
            <a href="http://127.0.0.1:8000/malaria/malaria_socioeconomic_factor.html" class="btn btn-info"
               role="button">Socioeconomic Factor</a>


        </div>


    </center>
    <div id="contentHolder">
			<div class="wrapper overflow" id="contentWrapper"> 									<div id="content">
		<div class="tipHeader fl">
			<h1>About</h1>
		</div>
		<div id="list" style="text-align: justify; width:730px">
			TheGlobalEconomy.com serves researchers, business people, academics, and investors  who need reliable economic data on foreign countries.
			Our data set includes over 450 indicators for over 200 countries spanning the period from 1960 to now.
			<br><br>
			<b>Data collection methods and sources</b>
			<br><br>
			We provide up-to-date numbers for GDP, inflation, credit, interest rates, employment, and many other indicators across countries.
			We use our own calendar of data releases to ensure a quick update right after the national authorities publish the new numbers.
			The data are gathered "by hand" without automation and with multiple quality checks.
			Each observation is reviewed by at least two members of our team.
			On a rolling basis, we also perform routine checks of the entire data set.
			<br><br>
			In addition to the data from central banks and other national authorities, our data set also includes multiple series from these sources: The World Bank, The United Nations, U.S. Energy Information Administration, International Monetary Fund, UNESCO, Transparency International, World Federation of Exchanges, United Nations Development Program, The World Economic Forum, OECD, Bank for International Settlements, Eurostat, The Natural Environment Research Council UK, FAOSTAT, International Telecommunication Union, KPMG, Freedom House, The Heritage Foundation, The Global Innovation Index Reports, A.T. Kearney, Cline Center for Democracy, KOF Swiss Economic Institute, Stockholm International Peace Research Institute, Kimberley Process, International Organisation of Motor Vehicle Manufacturers, Delcredere Ducroire, and the Credendo Group.

			<br><br>
			<b>Data download service</b>
			<br><br>
			For a small fee, users can access the entire data base and download data with no limitations.
			They can also link their Excel files or Google sheets to our data servers for automatic data updates.
			<br><br>
			The objective of the service is to save time and effort on data management.
			We keep the cost down and the service very affordable so it can be used by anyone anywhere.
			Economic sense dictates that instead of all of us putting together data sets over and over again, someone would specialize in that and do it for all of us.
			We have taken on that task and we are proud to have a very large user base from virtually every country.
			<br><br>
			<b>Other website features</b>



		</div>
	</div>

	<div class="clearer"></div>
</div>								<div class="clearer"></div>
			</div>

	<div id="footer">
			<div class="wrapper">
				<div id="footerNav">

					<a href>Contacts</a>
					<a href>About</a>
					<a href>Privacy policy</a>
					<a href>API</a>
					<a href>Learning resources</a>
					<div class="clearer"></div>
				</div>


				<div class="clearer"></div>

			</div>
		</div>
    <!-- JS files: jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</div>
</body>
</html>