<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Rainfall Query</title>

    <!-- Bootstrap CSS file -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="http://cdn.pydata.org/bokeh/release/bokeh-2.2.3.min.css"/>
    <link rel="stylesheet" type="text/css" href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-2.2.3.min.css"/>
    <link rel="stylesheet" type="text/css" href="http://cdn.pydata.org/bokeh/release/bokeh-tables-2.2.3.min.css"/>

    <script>
        function resetFilter() {
            var dropdownCountry = document.getElementById("Country");
            dropdownCountry.selectedIndex = 0;


       }
    </script>

</head>
<body>
<div class="container-xl">
    <center>
        <div class="jumbotron">
            <h1>Infectious Disease Visualization System (Malaria)</h1>
            <hr>
            <a href="http://127.0.0.1:8000/malaria/malaria_home.html" class="btn btn-info" role="button">Home</a>
            <a href="http://127.0.0.1:8000/malaria/malaria_about.html" class="btn btn-info" role="button">About</a>
            <a href="http://127.0.0.1:8000/malaria/malaria_map.html" class="btn btn-info" role="button">Malaria
                Statistics Mapping</a>
            <a href="http://127.0.0.1:8000/malaria/malaria_environmental_factor.html" class="btn btn-info" role="button">Environmental Factor</a>
            <a href="http://127.0.0.1:8000/malaria/malaria_socioeconomic_factor.html" class="btn btn-info" role="button">Socioeconomic Factor</a>



        </div>

        <form target="_blank" action="{% url 'malaria_rainfall_map' %}" onsubmit="return validateInput()" method="get">
            <select id="Feature" name="Feature">
                <option disabled="true" selected>Select Feature to generate Choropleth Map</option>
                <option value="Cases">Cases</option>
                <option value="Population_at_risk">Population_at_risk</option>
                <option value="Rainfall_gauge">Rainfall Gauge</option>
            </select>
            <select id="Year" name="Year">
                <option disabled="true" selected>Select specific year</option>

                <option value="2010">2010</option>
                <option value="2011">2011</option>
                <option value="2012">2012</option>
                <option value="2013">2013</option>
                <option value="2014">2014</option>
                <option value="2015">2015</option>
                <option value="2016">2016</option>
                <option value="2017">2017</option>
                <option value="2018">2018</option>
            </select>
            <input type="submit" value="Submit Query"/>
            <input type="button" id="buttonReset" value="Reset" onclick="resetFilter();"/>
        </form>
    </center>
</div>


</body>
</html>