<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About the Site</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

</head>
<body>
<div class="container-xl">
    <center>
        <div class="jumbotron">
            <h1>Infectious Disease Visualization System (Malaria)</h1>
            <hr>
            <a href="http://127.0.0.1:8000/malaria/malaria_home.html" class="btn btn-info" role="button">Home</a>
            <a href="http://127.0.0.1:8000/malaria/malaria_about.html" class="btn btn-info" role="button">About</a>
            <a href="http://127.0.0.1:8000/malaria/malaria_map.html" class="btn btn-info" role="button">Malaria
                Statistics Mapping</a>
            <a href="http://127.0.0.1:8000/malaria/malaria_environmental_factor.html" class="btn btn-info"
               role="button">Environmental Factor</a>
            <a href="http://127.0.0.1:8000/malaria/malaria_socioeconomic_factor.html" class="btn btn-info"
               role="button">Socioeconomic Factor</a>


        </div>


    </center>
    <div id="contentHolder">
        <div class="wrapper overflow" id="contentWrapper">
            <div id="content">
                <div class="tipHeader fl">
                    <h1>About</h1>
                </div>
                <div id="list" style="text-align: justify; width:780px">
                    This site allows users to make queries about Malaria and other relevant data.
                    The information are from <a href="https://www.who.int/publications/i/item/9789241565721"
                                                target="_blank" style="color: #ffa31a">WHO</a> ,
                    <a href="https://ourworldindata.org" target="_blank" style="color: #ffa31a">Our World in Data</a>,
                    <a href="http://data.uis.unesco.org" target="_blank" style="color: #ffa31a">The UNESCO Institute for
                        Statistics (UIS)</a>.
                    <br><br>
                    <b>Home</b>
                    <br>
                    In Home, users can query malaria statistics about their chosen country or region during a specified
                    period.
                    <br><br>
                    <b>Malaria Statistics Mapping</b>
                    <br>
                    In Malaria Statistics Mapping Section, users can choose either to view annual(on a specific year)
                    disease statistics or cumulative(during
                    a period of time) disease statistics upon a real map. In particular, a <a
                        href="https://en.wikipedia.org/wiki/Choropleth_map" target="_blank" style="color: #ffa31a">choropleth
                    map</a> with time slider will be generated to visualize
                    changes in disease statistics over the specified period.
                    <br><br>
                    <b>Environmental Factor</b>
                    <br>
                    The amount of rainfall also affects the severity of malaria. This section enables users to explore
                    the influence of rainfall
                    on malaria
                    <br><br>
                    <b>Social Economic Factor</b>
                    <br>
                    Social economic situations are also related to malaria. In this section, users are encouraged to
                    examine the relationship between socio
                    -economic factors and malaria.
                    <br><br><br><br>

                </div>
            </div>

            <div class="clearer"></div>
        </div>
        <div class="clearer">

        </div>
    </div>

    
    <!-- JS files: jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</div>
</body>
</html>