<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Malaria Statistics Mapping</title>

    <!-- Bootstrap CSS file -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="http://cdn.pydata.org/bokeh/release/bokeh-2.2.3.min.css"/>
    <link rel="stylesheet" type="text/css" href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-2.2.3.min.css"/>
    <link rel="stylesheet" type="text/css" href="http://cdn.pydata.org/bokeh/release/bokeh-tables-2.2.3.min.css"/>

</head>
<body>
    <div class="container-xl">
    <center>
        <div class="jumbotron">
            <h1>Infectious Disease Visualization System (Malaria)</h1>
            <hr>
            <a href="http://127.0.0.1:8000/homepage/home.html" class="btn btn-info" role="button">Home</a>
            <a href="http://127.0.0.1:8000/homepage/about.html" class="btn btn-info" role="button">About</a>
            <a href="http://127.0.0.1:8000/malaria/malaria_map.html" class="btn btn-info" role="button">Malaria Statistics Mapping</a>


        </div>
          <a href="http://127.0.0.1:8000/malaria/malaria_map.html" class="btn btn-info" role="button">Annual Statistics</a>
          <a href="http://127.0.0.1:8000/malaria/malaria_map.html" class="btn btn-info" role="button">Cumulative Statistics(Choropleth Map)</a>
    </center>
    </div>
</body>
</html>